@media (max-width: 1279px)

    :root 
        // --template-padding: 0px

        --title-gap: 48px
        --gap: 24px
        --section-gap: 80px

    body
        @include body-2

    .label
        @include body-2

    .button
        &--lg
            padding: 16px 28px
            font-size: rem(20px)
            line-height: rem(24px)
            letter-spacing: 0

    .section
        overflow: hidden
        &__title
            @include header-3

    .header
        &__nav
            display: none
        &__user
            &__profile
                margin-right: 24px
        &__burger
            display: inline-block

    .main-inner
        margin-top: 0
        .section__wrapper
            flex-direction: column-reverse
            gap: 60px
            margin-top: 64px
        &__image-container
            max-width: 400px
            margin: 0 auto
        &__title
            @include header-2
            margin-bottom: 24px
        &__description
            @include body-1
            margin-bottom: 32px

    .icon-quote
        width: 56px
        height: 56px

    .quote
        .image-gradient-border
            & > img
                width: 116px
                height: 116px
        &__text
            @include subtitle-2

    .start
        &__items
            gap: 12px
            @include slider

    .start-item
        scroll-snap-align: start
        width: 320px
        padding: 32px

        &__step
            width: 48px
            height: 48px
        &__description
            font-size: rem(20px)

        &:nth-child(1)::after,
        &:nth-child(2)::after
            right: -30px
            width: 50px
            height: 50px
            transform: none

    .select-group
        &__item
            font-size: rem(16px)

    .timetable
        &__items
            grid-template-columns: 1fr 1fr

    .prices
        &:not(.prices--subscription)
            .prices
                &__items
                    @include slider
        &--subscription
            .prices
                &__items
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr 1fr
    .prices-item
        scroll-snap-align: start
        padding: 32px
        &__price
            margin-bottom: 20px
            &-number
                @include header-5
            &-old
                font-size: rem(18px)
            &-muted
                font-size: rem(16px)
        &__title
            @include header-5
            margin-bottom: 12px

    .prices--subscription
        .prices-item
            &__title
                margin-bottom: 16px

    .process
        &__items
            @include slider

    .process-item
        width: 320px
        scroll-snap-align: start
        &__body
            padding: 24px 32px 32px
        &__title
            @include header-5
        &__bubble
            @include header-6
        &:nth-child(1),
        &:nth-child(2)
            .process-item__title::after
                width: 50px
                height: 50px
                right: -70px

    .tag
        font-size: rem(18px)

    .prices
        &__items
            gap: 12px
        &__picker
            margin-bottom: 32px

    .speak
        &__title
        &__subtitle
            @include subtitle-2
        &__cards
            grid-template-columns: 100%
            // grid-template-rows: repeat(3, auto)
        &__card
            min-height: 428px
            &:nth-child(3)
                height: auto
                flex-direction: column
                grid-column: auto
                gap: 40px
            &__left
                flex: unset

    .test
        .section__wrapper
            display: grid
            grid-template-columns: 1fr 1fr
        &__image
            width: 100%
        &__right
            gap: 24px
        &__title
            @include header-3

    .courses
    .courses-item
        grid-template-columns: 1fr 1fr
        &__image
            width: 100%
            align-self: start
        &__title
            padding-top: 32px
            @include header-4
            margin-bottom: 24px
        &__description
            @include body-1
            margin-bottom: 24px

    .stories-item
        width: 48%
        &--width
            width: 48%
        &--gap
            width: 4%

    .teachers
        &__controls
            display: none
        &__items
            @include slider

    .teachers-item
        scroll-snap-align: start
        &__experience
            font-size: rem(18px)

    .footer
        &__navs
            flex-direction: column
            gap: 12px

    .popup
        align-items: flex-start
        &-window
            margin-top: 72px

@media (max-width: 767px)

    :root 
        --title-gap: 32px
        --gap: 16px
        --section-gap: 56px

    .header
        &__user
            &__signup
                display: none
            &__profile
                margin-right: 0

    .section
        &__title
            @include header-4

    .main
        padding-top: 80px
        padding-bottom: 30px
        .section__wrapper
            @include body-2
            max-width: 100%
        &__bg
            position: relative
            &::after
                display: block
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                backdrop-filter: blur(16px)
                background: rgba(0, 0, 0, 0.4)
        &__title
            @include header-3
            margin-bottom: 12px
        &__signup-form
            margin-top: 24px

    .main-inner
        padding-bottom: 24px
        .section__wrapper
            margin-top: 24px
            gap: 30px
        &__image-container
            max-width: 70%
            border-radius: 16px
        &__image
            border-radius: 16px
        &__left
            padding-top: 0
        &__title
            @include header-4

    .form
        &__row-inline
            display: flex
            flex-direction: column
            align-items: stretch

    .signup-form
        padding: 24px 16px
        &__title
            @include header-5
            margin-bottom: 24px
            max-width: 100%

    .image-gradient-border
        padding: 5px

    .icon-quote
        width: 40px
        height: 40px
        .icon-svg
            width: 16px
            height: 16px

    .quote
        .image-gradient-border
            & > img
                width: 64px
                height: 64px
        &__text
            @include body-1

    .start
        &__items
            gap: 8px

    .start-item
        padding: 16px
        &__image-container
            margin-bottom: 16px
        &__description
            @include body-2
        .button--sm
            display: block
        .button--md
            display: none

    .select-group
        @include slider
        &__item
            scroll-snap-align: start
            white-space: nowrap
            padding: 8px 12px

    .timetable
        &__items
            grid-template-columns: 100%

    .timetable-item
        padding: 16px
        &__wrapper
            gap: 14px

    .prices--subscription,
    .prices
        .prices
            &__items
                @include slider
                display: flex
                gap: 8px

    .prices
        &__picker
            flex-wrap: wrap
            justify-content: flex-start
            margin-bottom: 24px
            
    .prices-item
        flex: 1 0 80%
        scroll-snap-align: start
        padding: 24px 16px 16px
        &__title
            margin-bottom: 8px !important
        &__benefit
            font-size: rem(14px)

    .process
        &__items
            display: flex
            gap: 8px
    .process-item
        width: 80%
        flex: 1 0 80%
        &:nth-child(1),
        &:nth-child(2)
            .process-item__title::after
                width: 40px
                height: 40px
                right: -40px
                top: 40px
        &__body
            padding: 20px 16px 16px
        &__bubble
            margin-bottom: 20px

    .tag
        font-size: rem(14px)
        padding: 8px 12px

    .speak
        &__title
            @include header-5
            margin-bottom: 12px
        &__subtitle
            @include body-2
        &__cards
        &__card
            background-position: right -5px bottom
            padding: 24px 16px 16px
            height: 220px
            min-height: unset
            &__title
                @include header-6
                margin-bottom: 16px
                max-width: 80%
            &__description
                font-size: rem(14px)
                max-width: 60%
            &__slider
                img
                    width: 90%
                    height: auto
            &:nth-child(3)
                gap: 24px

    .test
        .section__wrapper
            display: flex
            flex-direction: column
            gap: 24px
        &__title
            @include header-4
        &__description
            @include body-2

    .courses
        &__items
            gap: 32px

    .courses-item
        grid-template-columns: 100%
        grid-template-rows: auto auto
        gap: 24px
        &__title
            padding-top: 0
            @include header-5
            margin-bottom: 16px
        &__description
            @include body-2
            margin-bottom: 16px
        &__link
            font-size: rem(16px)
        &:nth-child(even)
            .courses-item__right
                order: unset

    .stories
        &__items
            display: flex
            flex-direction: row
            @include slider
            gap: 8px
        &__more

    .stories-item
        flex: 1 0 90%
        scroll-snap-align: start
        margin-bottom: 0
        &__person
            padding: 24px 16px 0
            gap: 12px
            margin-bottom: 12px
            &-image
                width: 40px
                height: 40px
            &-name
                @include header-6
            &-job
                font-size: rem(14px)
        &__description 
            padding: 0 16px

    .teachers
        &__items
            display: flex

    .teachers-item
        flex: 1 0 90%
        &__image
            width: 80px
            height: 80px
        &__name
            @include header-6
        &__description
            font-size: rem(14px)

    .faq

    .faq-item
        &__title
            @include header-6
        &__body
            padding: 24px 52px
            @include body-2


    .footer
        &__wrapper
            display: grid
            grid-template-columns: auto auto
            grid-template-rows: auto auto
        &__left
            grid-column: 1 / 2
            grid-row: 1 / 2
        &__navs
            margin-top: 24px
            grid-column: 1 / 3
            grid-row: 2 / 3
        &__right
            grid-column: 2 / 3
            grid-row: 1 / 2
        &__copyright
            display: none
        &__copyright-mobile
            display: block
            margin-top: 24px

    
    .first-lesson
        gap: 8px
    .first-lesson-item
        &__image
            width: 116px
        &__description
            @include body-2

    .popup--nav
        &__singup
            display: block
            width: calc(100% - var(--template-padding)*2)
            margin-top: 32px
            margin-left: var(--template-padding)
            margin-right: var(--template-padding)
        .popup
            &-window
                width: 100%
                border-radius: 0

    .popup
        align-items: center
        &-window
            margin-top: 0
            &__title
                @include header-5
                padding-bottom: 24px
            &__content
                padding: 24px 16px 24px